:root{
    --primary-color:#fd770a;
    --primary-color-hov:#cc6715;
    --secondary-color:#1b2b41;
}


body{ height:100vh; margin:0; }
body{ 
  display:flex; 
  flex-direction:column; 
}

.cta{
    font-size: 1.5rem;
    width:-moz-available;
    width: -webkit-fill-available; ;
}
.button{
  background-color: var(--primary-color);
  border-radius: 0.8rem;

}
.button-shadow{
     box-shadow: 5px 6px 6px #cabeb3;
}

.button:focus, .button:hover {
    background-color: var(--primary-color-hov );
    color: #fefefe;
}
.topbar-responsive {
  background: #2c3840;
  padding: 1rem 1.5rem;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
}

.topbar-responsive .menu {
  background: #2c3840;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}

@media screen and (min-width: 64em) {
    .content{
          margin: auto;
          width: 60%;
          padding: 2rem;
        }
}

.content{
    padding: 2rem;
}
.hr{
  border-top: 1px solid #fd770a;
}


.promo-hero {
  width: 100%;
  text-align: center;
  height: 420px;
  background: #3c3838;
  position: relative;
  color: white;
}

.promo-hero .button.white-hollow {
  border: 1px solid #fefefe;
  color: #fefefe;
  background-color: transparent;
  transition: border 0.5s ease;
}

.promo-hero .button.white-hollow:hover, .promo-hero .button.white-hollow:active, .promo-hero .button.white-hollow:focus {
  border: 1px solid #b2b2b2;
  transition: border 0.5s ease;
}

.promo-hero-content {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.promo-hero-title {
  line-height: 1.25em;
  margin-bottom: 1rem;
  
}

.promo-hero-description {
  margin-bottom: 1rem;
 
}

.promo-hero-bg-image {
  overflow: hidden;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.promo-hero-bg-image:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
}

.magic-book{
display: block;
width: 400px;
height: 400px;
margin-right: auto;
margin-left: auto;
}


/**
 * testimonial
 * */


#testimonial{
   margin: auto;
    
}

#testimonial p{
    text-align: center;
}

#testimonial h2{
    font-weight: bold;
}
#testimonial h4{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    
}
.testimonial-content{
    margin-top: 3rem;
    margin-bottom: 1rem;
}




/** footer */


.contact-area {
    border-bottom: 1px solid #353C46;
}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.contact-social ul li a:hover {
    border: 1px solid #FAB702;
    color: #FAB702;
}

.contact-content img {
    max-width: 210px;
}

footer {
    background: #1A1E25;
    color: #868c96;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 44px;
}

footer a{
    color: #868c96;
}
/*#footer-content{
    position: fixed;
    bottom:0; 
    z-index:100000;
    width: 100%;
}*/

#footer-content{
    margin-top: auto;
}
.card{
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 1rem;
}
.card-rounded{
    border-radius: 1rem;
    margin-top: 0;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-cta{
    margin-top: 3rem;

}
.trophy-img{
    display: block;
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  
}

#affirmation h3{
    font-style: italic;
    margin-bottom: 2rem;
    text-align: center;
    
}
#side-random{
    padding: 2rem;
}

.date-header{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


q { quotes: '\201c' '\201d'; }
q:before { content: open-quote;  }
q:after  { content: close-quote; }

.check{
    width: 4rem;
    height: 4rem;
    margin: auto;
    width: 50%;
}
.thanks{
    margin: auto;
    width: 50%;
}
.thanks p{
    text-align: center;
}

.lg-btn{
    display: block;
    width: 100%;
}
.logo{
    width: 9rem;
}

/** show different layout depending on screen size*/
/** medium and small*/

/* Small only */
@media screen and (max-width: 39.9375em) {
   

    #subscribers-add{
    font-size: 1rem;
    background-color: #f4f2e9;

    }

    #subscribers-add p{
        padding: 1rem;
        text-align: center;
        line-height: 1.5;
font-weight: 400;
    }

    #subscribers-add h1{
        font-size: 1.5rem;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    #subscribers-add{
       
         margin-top: 2rem;
    }
    #subscribers-add{
    font-size: 1.5rem;

    }

    #subscribers-add p{
        padding: 3rem;
        text-align: center;
        line-height: 1.5;

    }

    #subscribers-add h1{
        font-size: 3rem;

    }
}

#subscribers-add h4{
    margin-bottom: 2rem;
    font-weight: bold;
}

.custom-input-sub{
    font-size: 19px;
    border-radius: 8px;
    max-width: 450px;
    padding: 31px 31px;
}
::placeholder{
    color: #312e2e;
    font-size: 18px;
}

#resource{
    text-align: center;
    margin-top: 1.5rem;
}
#resource h2{
    font-weight: bold;
}
.ssk-group{
    margin-top: 1.5rem;
}

